body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navbar-brand {
    font-family: 'Nosifer', cursive;
}

.name {
    font-family: 'Nosifer', cursive;
}
#header{
    overflow: hidden;
    background-color: #880016;
    height: 50px;
    border-bottom: 4px solid black;
    padding: 10px;
    font-size: 20px;
}
.main-image{
    height: auto;
    width: 50%;
    text-align: center;

}
