{% extends 'base.html' %}
{% block body %}
    {% if laptops_list %}
        {% for laptop in laptops_list %}
            <a href = "{{ laptop.slug_name }}">
            <div class="row">
                <div class="col-md-4">
                    <div class="col">
                        <img class="img-thumbnail"  alt="Mi A1  (Sale is on!)"
                             src="{{ laptop.image_src }}">
                    </div>
                    <div class="col">
                       <span><br></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row2">
                        <div class="col">
                            <div>{{ laptop.product_name }}</div>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col">
                            <div>{{ laptop.hdd }}</div>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col">
                            <div>{{ laptop.ram }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            </a>
        {% endfor %}
    {% endif %}

{% endblock body %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
