{% extends 'basepage.html' %}
{% block body %}
    {%  load static %}
    <div class="row">
    <div class="col-2">
            <div class="col">
            <img alt="1"  id="product"
            src="{% static 'kompany/mobiles/Apple iPhone SE (Space Grey, 32 GB)-0.jpeg' %}"> <br>
            </div>
            <div class="col">
            <img alt="2"  id="product"
            src="{% static 'kompany/mobiles/Apple iPhone SE (Space Grey, 32 GB)-1.jpeg' %}"><br>
            </div>
            <div class="col">
            <img alt="3"  id="product"
            src="{% static 'kompany/mobiles/Apple iPhone SE (Space Grey, 32 GB)-2.jpeg' %}"><br>
            </div>
            <div class="col">
            <img alt="4"  id="product"
            src="{% static 'kompany/mobiles/Apple iPhone SE (Space Grey, 32 GB)-3.jpeg' %}"><br>
            </div>
            <div class="col">
            <img alt="5"  id="product"
            src="{% static 'kompany/mobiles/Apple iPhone SE (Space Grey, 32 GB)-0.jpeg' %}"><br>
            </div>
            <div class="col">
            <img alt="6"  id="product"
            src="{% static 'kompany/mobiles/Apple iPhone SE (Space Grey, 32 GB)-0.jpeg' %}"><br>
            </div>
    </div>
    <div class="col-5 align-center">
        <img alt="Main Image" class="main-image"
        src="{% static 'kompany/mobiles/Apple iPhone SE (Space Grey, 32 GB)-0.jpeg' %}">
    </div>
    <div class="col-5" >
        <h1>Descriptions</h1>
    </div>
    </div>
{% endblock body %}

